{% extends 'base.html.twig' %}

{% block title %}Articles
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Page d'acceuil</h1>
		<div class="grid">
			{% for article in articles %}
				<div class="grid-item">
					<div class="card">
						<h2 class="card-title">{{ article.nom }}</h2>
						<p class="card-text">{{ article.summary }}</p>
						<a class="detail" href="{{path('article_detail', {'slug': article.slug, 'id': article.id}) }}">Voir</a>
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="pagination">
			{{ knp_pagination_render(articles) }}
		</div>
	</div>
{% endblock %}
