{% extends 'base.html.twig' %}

{% block title %}Mentions Légales
{% endblock %}

{% block body %}
	<div class="legal-notice">
		<h1>Mentions Légales</h1>
		<section>
			<h2>Informations Générales</h2>
			<p>
				Le présent site est édité par :
				<strong>Dev Factory</strong>,<br>
				Société immatriculée au Registre du Commerce et des Sociétés sous le numéro
				<strong>SIRET : 123 456 789 00000</strong>,<br>
				dont le siège social est situé au
				<strong>12 rue des peupliers 75 000 Paris</strong>.
			</p>
			<p>
				Numéro de téléphone :
				<strong>01 23 45 67 89</strong><br>
				Email :
				<strong>contact@dev-factory.com</strong>
			</p>
		</section>

		<section>
			<h2>Directeur de la Publication</h2>
			<p>
				<strong>Kaya Sofiane</strong><br>
				Email :
				<strong>directeur@dev-factory.com</strong>
			</p>
		</section>

		<section>
			<h2>Hébergeur</h2>
			<p>
				Le site est hébergé par :
				<br>
				<strong>OVH</strong><br>
				Adresse de l'hébergeur
				<strong>12 rue de Lille 59 000 Lille</strong><br>
				Téléphone :
				<strong>01 23 45 67 89</strong>
			</p>
		</section>

		<section>
			<h2>Propriété Intellectuelle</h2>
			<p>
				L’ensemble des contenus présents sur ce site (textes, images, vidéos, etc.) est la propriété exclusive de
				<strong>Nom de la société</strong>, sauf mention contraire. Toute reproduction, distribution, modification,
																									            adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite
																									            sans l'accord exprès par écrit de
				<strong>
					Dev Factory</strong>.
			</p>
		</section>

		<section>
			<h2>Responsabilité</h2>
			<p>
				<strong>Dev Factory</strong>
				s’efforce de fournir des informations aussi précises que possible. Toutefois,
																				            elle ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles
																				            soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.
			</p>
		</section>

		<section>
			<h2>Protection des Données Personnelles</h2>
			<p>
				<strong>Dev Factory</strong>
				s'engage à ce que la collecte et le traitement de vos données, effectués à partir du site
				<strong>dev-factory.com</strong>, soient conformes au règlement général sur la protection des données (RGPD).
			</p>
			<p>
				Vous disposez d'un droit d'accès, de rectification, de suppression et d'opposition concernant vos données personnelles. Pour
																				            l'exercer, adressez-vous à :
				<strong>protection@dev-factory.com</strong>.
			</p>
		</section>

		<section>
			<h2>Cookies</h2>
			<p>
				Le site
				<strong>dev-factory.com</strong>
				peut-être amené à vous demander l'acceptation des cookies pour des besoins de
																				            statistiques et d'affichage. Un cookie est une information déposée sur votre disque dur par le serveur du site que vous visitez.
																				            Il contient plusieurs données qui sont stockées sur votre ordinateur dans un simple fichier texte auquel un serveur accède pour
																				            lire et enregistrer des informations.
			</p>
		</section>
	</div>
{% endblock %}
